@media screen and (min-width 2295px)
	body
	.for-title
	.part-title
		font-size: 20px
	.container
		width 1400px
	.more-button
		font-size: 16px
	.record-title
		font-size: 22px
@media screen and (max-width 1199px)
	.part-img-1, .part-img-3, .part-img-5
		right: -220px;
	.part-img-2, .part-img-4, .part-img-6
		left -220px
	.packet-body
		min-height 370px
@media screen and (max-width 991px)
	#logo
		float: none
		margin 0 auto 3px
		display block
	.contacts
		line-height: 17px
		float: none
		text-align: center
	.contact
		display: inline-block
		margin 5px 5px 0
	#main
		padding 40px 0
		overflow hidden
	.part
	.part:nth-of-type(2n)
		width 92%
		padding 10px 20px 20px
		float: none
		margin 0 auto 20px
	.part-img
		position: static
		display block
		margin 0 auto
	.part-title
		margin 0 0 10px 0
	.parts
		margin-bottom: 20px
	.button-plan
		margin-top: 0
	.packet-head-title
		width: 130%;
		left: -15%;
	.packet-body
		min-height 418px
	.general-title
		width 112%
		left -6%
	.general-title-2
		width: 100%;
		left: 0;
@media screen and (max-width 767px)
	.general-title
		width 100%
		left 0
	.for-title
		margin-top: 20px
	.packet
		margin-bottom: 20px
		&-body
			min-height 1px
	.prepayment-title
		margin-top: 0
	.general-title-for
	.general-title-recs
		margin-bottom: 0
@media screen and (max-width 485px)
	#logo
		width 68px
		height 30px
	.contact
		font-size: 12px
		line-height: 15px
		background-size: 15px
		padding-left: 18px
	.contact.contact-email
		background-size: 20px
		padding-left: 24px
	#main
	#for, #records
	#prices
	#hypnosis
	#nlp
		padding 30px 0
	.main-title
		font-size: 28px
		padding 5px 5px 10px
		margin 15px 0 20px
	.main-info
		margin 10px 0
	.white-container
		padding 20px
	.general-title
		line-height: 1.2
		margin-bottom: 25px
	.for-title
		margin 15px 0
	.general-list-3 li
		padding-left: 18px
	.packet-head-title
		width: 120%;
		left: -10%;
	.cost
		margin-bottom: 10px
		span
			font-size: 28px
	.modal-title
		font-size: 22px
	.modal-list
		margin 10px 0 0 10px
	.prepayment-title
		font-size: 32px
	.prepayment-text
		font-size: 18px
		margin 5px 0 15px
	.timer-title
		font-size: 32px
		margin-top: 20px
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 20px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.alert-danger
		padding 10px
		font-size: 20px
	.recs-text
		font-size: 20px
	footer
		font-size: 12px
		padding 15px 0
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
	.general-title-for
	.general-title-recs
		margin-bottom: 0
@media screen and (max-width 385px)
	.main-title
		width 126%
		left -13%
	.main-container
		padding 20px
	.general-title
		font-size: 22px
	.general-list li
		padding 0 0 0 50px
	.white-container
	.part, .part:nth-of-type(2n)
		padding 10px
	.button-plan
		width 92%
	.packet-head-title
		width: 124%;
		left: -12%;
	.prepayment-title
	.timer-title
		font-size: 26px
		line-height: 1.2