#for
	padding 50px 0
	background-color: #667B8B
	background-image url(../img/backs/dots.png)
	background-repeat no-repeat
	background-position: top 50px center
	background-size: cover
.for-title
	font-size: 18px
	font-family: RO
	color #000
	margin:  0 0 20px 45px