#records
	@extend #for
.record-title
	text-align: center
	font-size: 20px
	font-family: OSB
	margin 20px 0 15px
.rec-text
	margin-top: 10px
.recs-text
	text-align: center
	margin-top: 20px
	font-size: 24px
.text-sale
	text-align: center
	margin 0 0 30px