footer
	padding 20px 0
	text-align: center
	color #000
	font-size: 14px
	font-family: "Arial", sans-serif
	h5
		font-family: OSB
		font-size: 20px
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 10px 7px 15px
		position relative
		z-index: 1
		.fa
			background-color: #003C77
			width: 32px;
			height: 32px;
			color #fff
			line-height 32px
			text-shadow: 1px 1px 1px #000
			font-size 18px
			position relative
			z-index 9
			transition all .3s ease
		&:hover
			.fa
				opacity .9
				transform: translateY(-3px)
.conditions
	text-decoration: underline
	color: initial
	&:focus
		color: initial
		text-decoration: underline
	&:hover
		color initial
		text-decoration: none