#main
	padding 30px 0 50px
	text-align: center
.pre
	font-size: 18px
.main-title
	font-size: 22px
	font-family: RO
	line-height: 40px
	margin 10px 0 0
	span
		display block
		font-size: 28px
		color #cf4b04
		margin-bottom: 20px
.main-info
	font-size: 20px
	display: inline-block
	span
		display: inline-block
		font-family: OSB
.video-wrapper-main
	margin 20px auto 0
	max-width 560px
	box-shadow: 0 4px 24px 6px rgba(#4564d3,.49)
audio
	display block
	width 100%
	max-width 550px
	margin 20px auto 40px
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, .35)
	border-radius: 15px
	overflow hidden
#main.remind
	min-height calc(100vh - 215px)
.remind-main-title
	margin 90px 0 20px
	font-size: 30px
	line-height: 1.4
	a
		display: inline-block
		color: #003C77
		text-decoration: underline
		&:focus
			text-decoration: none
		&:hover
			text-decoration: none
.remind-main-subtitle
	font-size: 26px