include ../header
section#main
	.container
		p.pre= head_description
		h1.main-title Медитативная практика 
			span “Глубокое расслабление через осознанное дыхание”
		audio(controls)
			source(src="audio/bonus.ogg" type="audio/ogg")
			source(src="audio/bonus.mp3" type="audio/mpeg")
			<a href="audio/bonus.mp3" download>Скачать бонус</a>
		p.main-info Старт онлайн-мастер-класса: 
			span с NN числа, в 19:00 (МСК)