-var head_url = 'https://tolstikov.mastervision.su/nlp-and-hypnosis/course/';
-var head_title = '«НЛП и Гипноз»';
-var head_description = 'Обучающий курс Виктора Толстикова';
//- -var head_img = 'img/banner.jpg';
-var styles = '../css/course.min.css';
-var fav_ico = '../favicon.ico';
-var fav_png = '../favicon.png';
-oferta = '../oferta/oferta-course.doc'

mixin b(cl,href,p,target,id)
	a.button(class=cl href=href target=target id=id)=p
mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin gt2(cl,h3)
	h3.general-title.general-title-2(class=cl)=h3

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/header.pug
		include pug/course/1.main.pug
		include pug/course/2.for.pug
		include pug/course/3.nlp.pug
		include pug/course/4.hypno.pug
		//- include pug/course/5.mk.pug
		include pug/course/6.prices.pug
		include pug/course/7.records.pug
		include pug/course/8.footer.pug
		include pug/course/9.modals.pug
		include pug/course/10.scripts.pug
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts