-var head_url = 'https://tolstikov.mastervision.su/nlp-and-hypnosis/home-task-2/';
-var head_title = '«Успех»';
-var head_description = '2 домашнее задание от Виктора Толстикова';
-var video = '-pIm-PCGGY8';
-var styles = '../css/bonus.min.css';
-var fb_content = '2030481470529055'
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/ht/1.main.pug
		include pug/bonus/2.feedback.pug
		include pug/bonus/3.footer.pug
		script
			| var isIE = false || !!document.documentMode;if (isIE) {var head = document.getElementsByTagName("head")[0];var link = document.createElement("link");link.rel = "stylesheet";link.href = "../css/bonus-ie.min.css";head.appendChild(link);}
		include pug/scripts/body_bottom_scripts