-var head_url = 'https://tolstikov.mastervision.su/nlp-and-hypnosis/promo/';
-var head_title = 'Оставьте свои данные, чтобы получить бонус "Название бонуса"';
-var styles = '../css/thanks.min.css';
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'
	
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/header
		section#main
			.container
				h1.main-title Оставьте свои данные, чтобы получить бонус
					span Название бонуса 
					| &nbsp;и для того, чтобы лучше подготовиться к предстоящему мастер-классу
				.main-container
					//- h2.main-container-title Зарегистрируйте свое участие, чтобы Вам гарантированно пришла ссылка на вебинар
					form(action="https://shop.mastervision.su/?r=personal/newsletter/data/add&id=3568&lg=ru" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" ).form.form-promo
						.inputrow
							.inputblock
								input(type="hidden" value="1" name="required_fields[phone_number]")
								input(class="input input-mail" name="Contact[phone_number]" type="text" placeholder="Ваш телефон")
						button(type="submit").button.button-form Забрать бонус
						.clearfix
						p.alert-message
						.checking
							input(type="checkbox" id="check" checked).check
							label(for="check").check-label Я согласен с 
								a(href="javascript:void(0);")(data-toggle="modal" data-target="#myPolitics")  условиями обработки персональных данных
								|  по 152 - Ф3
						div(style="display: none;")
							div#formTypeSpecificVars(style="display: none;")
							<!-- API код канала рекламы --> 
							input(type="hidden" value="0" name="Contact[id_advertising_channel_page]")#form_newsletter_id_advertising_channel_page
							input(type="hidden" name="formId" value="207")
							input(type="hidden" name="formVc" value="3214241551")
		include pug/bonus/3.footer.pug
		include pug/main/10.politics.pug
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		script(src="../js/thanks.min.js")
		include pug/scripts/body_bottom_scripts