-var head_title = 'Вы записывались на онлайн-мастер-класс по НЛП и Гипнозу';
-var head_description = 'Скорее проверьте почту, вас ждут домашние задания!';
-var styles = '../css/bonus.min.css';
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/header
		section#main.remind
			.container
				h1.main-title.remind-main-title Вы зарегистрированы на онлайн-мастер-класс 
					a(href='https://tolstikov.mastervision.su/nlp-and-hypnosis/' target="_blank") по НЛП и Гипнозу 
						i.fa.fa-external-link(aria-hidden="true")
				h2.main-subtitle.remind-main-subtitle Скорее проверьте почту, вас ждут домашние задания!
		include pug/bonus/3.footer.pug
		script
			| var isIE = false || !!document.documentMode;if (isIE) {var head = document.getElementsByTagName("head")[0];var link = document.createElement("link");link.rel = "stylesheet";link.href = "../css/bonus-ie.min.css";head.appendChild(link);}
		include pug/scripts/body_bottom_scripts