-var head_url = 'https://tolstikov.mastervision.su/nlp-and-hypnosis/thanks/';
-var head_title = 'Забрать бонус от Виктора Толстикова';
-var styles = '../css/thanks.min.css';
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

mixin gt(cl,h3)
	h3.general-title(class= cl)= h3
	
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/header
		section#main
			.container
				a.button.button-thanks(href='../bonus/' target="_blank") Забрать бонус
				h1.main-title Регистрируйтесь в удобный для вас мессенджер, чтобы оставаться на связи и не пропустить начало мастер-класса
				include pug/bots/bots.pug
		include pug/bonus/3.footer.pug
		script
			| var isIE = false || !!document.documentMode;if (isIE) {var head = document.getElementsByTagName("head")[0];var link = document.createElement("link");link.rel = "stylesheet";link.href = "../css/thanks-ie.min.css";head.appendChild(link);}
		include pug/scripts/body_bottom_scripts