section#main
	.container
		.row
			.col-md-6.col-sm-6
				.main-container
					p.pre Открытый онлайн мастер-класс
					h1.main-title НЛП и Гипноз -
					h2.main-subtitle ключи к управлению миром
						span и личному совершенству
				p.main-date Даты проведения: 
					span с 
						span.span-date 18 
						| по 
						span.span-date 21 
						| ноября, 19:00 (Мск)
				p.main-author Автор: 
					span ВИктор Толстиков
			.col-md-6.col-sm-6
				.video-wrapper.video-wrapper-main
					iframe(src="https://www.youtube.com/embed/?autoplay=1&mute=1" allowfullscreen)