section#plan
	+gt2('','Программа мастер-класса')
	.container
		.days
			.day.day-1
				img.day-img.day-img-1(src="img/images/day-1.png", alt="День 1: «Власть и очарование»")
				h4.day-title День 1: «Власть и очарование»
				ul.general-list-3
					li Как разоблачать лжецов и противодействовать их манипуляциям
					li Как читать мысли людей и очаровывать их за считанные секунды
					li Как влиять на сознание людей, чтобы получать от них желаемое
					li Практика «Простейшие техники воздействия»
			.day.day-2
				img.day-img.day-img-2(src="img/images/day-2.png", alt="День 2: «Код богатства и установки на успех»")
				h4.day-title День 2: «Код богатства и установки на успех»
				ul.general-list-3
					li Как избавиться от негативных установок на бедность и невезение
					li Как активировать свою гениальность и уверенность в себе
					li Как перестать думать и начать достигать своих целей
					li Практика «Мантра позитива» для хорошего настроения
			.day.day-3
				img.day-img.day-img-3(src="img/images/day-3.png", alt="День 3: «Баловень судьбы»")
				h4.day-title День 3: «Баловень судьбы»
				ul.general-list-3
					li Как избегать негативных событий и опасных ситуаций
					li Психотехнологии достижения целей и исполнения желаний
					li Где взять силы и вдохновение для реализации своих планов
					li Практика «Простейшая техника исполнения желаний»
			.day.day-4
				img.day-img.day-img-4(src="img/images/day-4.png", alt="День 4: «Исцеление с помощью гипноза»")
				h4.day-title День 4: «Исцеление с помощью гипноза»
				ul.general-list-3
					li Как избавиться от различных видов зависимости и вредных привычек
					li Как принять себя и обрести гармонию с миром
					li Самопрограммирование на здоровье и долголетие
					li Практика «Гипнотическая медитация с установками на исцеление»
			.clearfix
	.container
		+b('button-plan','Иду на мастер-класс')