section#lets
	.container
		.white-container
			+gt('','Мастер-класс позволит вам:')
			ul.general-list.general-list-lets
				li научиться определять, где правда, а где ложь;
				li начать влиять на людей и ситуации, чтобы всегда получать желаемое;
				li узнать, как заручиться поддержкой нужных вам людей;
				li получить инструменты для увеличения финансового потока через освобождение от блокирующих установок;
				li открыть в себе новые возможности и раскрыть потенциал;
				li обрести силы и вдохновение на новые свершения;
				li узнать, как расстаться с пагубными привычками и пристрастиями;
				li встать на путь к обретению здоровья и долголетия;
				li обрести уверенность в себе и гармонию с миром и самим собой
			+b('','Записатья')