@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.main-title
		width 114%
		left -7%
	.input-mail-main
		margin 0 59px
@media screen and (max-width 1199px)
	#logo
		float: none
		margin 0 auto 3px
		display block
	.contacts
		line-height: 17px
		float: none
		text-align: center
	.contact
		display: inline-block
		margin 5px 5px 0
	#main
		padding 40px 0
	.input-mail-main
		float: none
		display block
		margin 0 auto 10px
	.button-form-main
		display block
		margin: 0 auto
	.day-img-1, .day-img-3
		right -270px
	.day-img-2, .day-img-4
		left -270px
	.switch-title
	.switch-text
		text-align: center
	.switch-title
		&:after
			content none
@media screen and (max-width 991px)
	#main
		overflow hidden
	.video-wrapper-main
		margin-top: 20px
	.white-container
		padding 20px
	.day
	.day:nth-of-type(2n)
		width 92%
		padding 30px
		float: none
		margin 0 auto 20px
	.day-img
		position: static
		display block
		margin 0 auto
		width 100%
		max-width 252px
	.certs-title
		text-align: center
		margin 10px 0 20px
	.certs-img
		height 100px
	.carousel-control
		top auto
		bottom: -10px
		&.left
			left 0
		&.right
			right 0
@media screen and (max-width 767px)
	.form-main
		padding 20px
		margin 0 0 30px
		&:before
			display none
	.form-title
		text-align: center
		&:after
			display block
			position: static
			margin 0 auto 10px
			transform: rotate(90deg)
			line-height: 40px
	.form-text
		text-align: center
		margin 0 0 15px
	.form-last-title
		margin-bottom: 20px
	.input-mail-last
		display block
		margin 0 auto 10px
	.general-list-for
		margin-bottom: 20px
	.author-img
		margin 0 auto 30px
	.certs
		width 100%
		max-width 500px
		margin 0 auto
	.certs-img
		margin 5px auto
	.form-last
		padding 20px
@media screen and (max-width 560px)
	.general-title
	.for-text
		width 113%
		left -6.5%
	.general-title-2
		width 100%
		left 0
	.checking .check-label
		line-height: 17px
@media screen and (max-width 485px)
	#logo
		width 68px
		height 30px
	.contact
		font-size: 12px
		line-height: 15px
		background-size: 15px
		padding-left: 18px
	.contact.contact-email
		background-size: 20px
		padding-left: 24px
	#main
		padding 30px 0
	.main-container
		padding 25px
	.pre
		font-size: 20px
	.main-title
		font-size: 28px
		line-height: 28px
		margin 15px 0 20px
	.main-subtitle
		font-size: 21px
	.general-list li
		padding-top: 0
	.for-text
		padding 20px 35px
	.for-text p:last-of-type
		margin-top: 20px
	.general-title
		font-size: 22px
		margin-bottom: 25px
	.general-list-3 li
		padding-left: 18px
	.day-title
	.author-title
	.author-cite
		margin 0 0 20px
	.author-bg
		margin-top: 20px
	.revs-img
		min-height 1px !important
	#text-revs
		.revs-img
			height 100px !important
	.last-subtitle
		margin 20px 0
	.form-last
		padding 10px
	footer
		padding 15px 0
		font-size: 12px
	.days
	.general-list-lets
		margin-bottom: 20px
@media screen and (max-width 385px)
	.pre
		font-size: 18px
	.main-container
	.form-main
	.white-container
		padding 15px
	.main-title
		font-size: 24px
		line-height: 24px
		padding 15px 10px
		width 125%
		left -12.5%
		margin-bottom: 10px
	.main-subtitle
		font-size: 19px
	.general-title
		font-size: 20px
		width 120%
		left -10%
	.general-title-2
		width 100%
		left 0
	.for-title
		margin-left: 20px
	.for-text
		padding 15px 30px
		width 120%
		left -10%
	.for-text p:last-of-type
		margin-top: 10px
	.button
		height auto
		line-height: 1.2
		padding 2px 10px
	.day, .day:nth-of-type(2n)
		padding 15px
	.certs-img
		height 75px
	#text-revs .revs-img
		height 70px !important
	#revs
		padding-bottom: 30px
	.last-subtitle
	.modal-text
		margin 15px 0
	.last-form-container
		padding 5px
	.modal-title
	.politics_modal-content .modal-title
		font-size: 20px
	.button-plan
		width 92%