#lets
	padding 40px 0
	background-color: #667B8B
	background-image url(../img/backs/dots-2.png)
	background-repeat no-repeat
	background-position: right center
.general-list-lets
	width 100%
	max-width 775px
	margin 0 auto 35px