#author
	padding 40px 0
.author-img
	display block
	width 100%
	max-width 290px
	margin 40px auto 25px
.author-title
	font-size: 18px
	font-family: RO
	margin 0 0 30px 40px
.author-bg 
	margin 30px 0 13px
	display block
	font-family: GI
	line-height: 24px
.author-cite 
	display block
	margin-bottom: 30px
	text-align: right
	span
		font-weight: bold
.certs-title
	margin-top: 35px
	font-family: RO
	color: rgb(35, 62, 117);
	line-height: 1.667;
.certs-img
	display: block
	background-color #fff
	border: 1px dashed rgb(10, 25, 56);
	margin 0 auto
	height 126px