#last
	padding 30px 0
	background-color: #667B8B
	text-align: center
.last-subtitle
	font-family: RO
	margin 30px 0
	font-size: 18px
	span
		color #f0651b
.last-form-container
	padding 5px 20px
	background-image url(../img/images/form-decor-1.png),url(../img/images/form-decor-2.png)
	background-repeat no-repeat
	background-position: top right, bottom left
	width 100%
	max-width 650px
	margin 0 auto
.form-last
	padding 30px 40px
	border 1px dashed #0a1938
.form-last-title
	font-size: 24px
	font-family: RO
	margin-bottom: 35px
	color #000
.input-mail-last
	margin-left: 0
.checking-last .check-label
.checking-last .check-label a
	color #000