.modal-backdrop.in
	opacity .8
	background-color: #e6d6e7
.mail-modal-content
	background-repeat no-repeat
	background-position: center
	background-size: cover
	background-color: #667B8B
	text-align: center
.modal-title
	color #fff
	width 86%
	margin 0 auto
	font-size: 24px
	font-family: RO
.modal-text
	font-size: 20px
	color #fff
	margin 20px 0
.input-mail-modal
	float: none
	margin 0 auto 10px