section#main
	.container
		.main-container
			p.pre записи мастер-класса - внизу страницы
			h1.main-title 
				small обучающий курс
				| НЛП и Гипноз
			p.main-info Старт курса: 
				span NN января, в 19:00 (мск)
			p.main-info Автор курса: 
				span Виктор Толстиков
			+b('','#prices','Записаться','','')