section#for
	.container
		.white-container
			+gt('general-title-for','Этот мастер-класс для вас, если...')
			.row
				.col-md-6.col-sm-6
					h4.for-title Если Вы:
					ul.general-list.general-list-for
						li не знаете, как избавиться от чужого влияния;
						li устали от одиночества и непонимания;
						li не понимаете, за что хвататься;
						li хотите забыть про неприятности и проблемы;
						li страдаете от уныния и хронической усталости
				.col-md-6.col-sm-6
					h4.for-title И хотите:
					ul.general-list.general-list-2.general-list-for
						li уметь противодействовать лжи и манипуляциям;
						li найти верных друзей или любимого человека;
						li поверить в себя и добиться финансового успеха;
						li самому управлять своей судьбой и счастьем;
						li сохранить здоровье и радость на многие годы