section#nlp
	+gt2('','Модуль "НЛП"')
	.container
		.parts
			.part.part-1
				img.part-img.part-img-1(src="../img/images/part-1.png", alt="Часть 1: “Экстрасенсорика”")
				h4.part-title Часть 1: “Экстрасенсорика”
				ul.general-list-3
					li Научитесь моментально определять психотипы людей
					li Узнаете как видеть людей насквозь и читать их мысли
					li Сможете легкостью распознавать ложь и манипуляции
			.part.part-2
				img.part-img.part-img-2(src="../img/images/part-2.png", alt="Часть 2: “Магия обольщения”")
				h4.part-title Часть 2: “Магия обольщения”
				ul.general-list-3
					li Узнаете как нравиться людям и вызывать интерес к себе
					li Освоите мастерство общения и искусство очарования
					li Научитесь понимать людей и доносить до них свои мысли
			.part.part-3
				img.part-img.part-img-3(src="../img/images/part-3.png", alt="Часть 3: “Мастерство влияния”")
				h4.part-title Часть 3: “Мастерство влияния”
				ul.general-list-3
					li Узнаете как вызывать доверие и уважение к себе
					li Освоите искусство убеждения и технологии влияния
					li Сможете противодействовать любым манипуляциям
			.part.part-4
				img.part-img.part-img-4(src="../img/images/part-4.png", alt="Часть 4: “Гениальность и совершенство”")
				h4.part-title Часть 4: “Гениальность и совершенство”
				ul.general-list-3
					li Научитесь входить в состояние мастерства и творчества
					li Узнаете секреты успеха от гениев и миллионеров
					li Получите инструменты для ускоренного саморазвития
			.part.part-5
				img.part-img.part-img-5(src="../img/images/part-5.png", alt="Часть 5: “Исполнение желаний”")
				h4.part-title Часть 5: “Исполнение желаний”
				ul.general-list-3
					li Сможете отличать свои истинные мечты от навязанных
					li Узнаете эффективные методы достижения целей
					li Освоите психотехнологии исполнения желаний
			.part.part-6
				img.part-img.part-img-6(src="../img/images/part-6.png", alt="Часть 6: “Чудо исцеления”")
				h4.part-title Часть 6: “Чудо исцеления”
				ul.general-list-3
					li Научитесь избавляться от страхов и комплексов
					li Узнаете как исцелиться от психосоматических болезней
					li Сможете попрощаться с вредными привычками
			.clearfix
	.container
		+b('button-plan','#prices','Записаться')