section#hypnosis
	+gt2('general-title-hypnosis','Модуль "Гипноз"')
	.container
		.parts
			.part.part-hypno.part-1
				img.part-img.part-img-1(src="../img/images/part-7.png", alt="Часть 1: “Основы гипноза”")
				h4.part-title Часть 1: “Основы гипноза”
				ul.general-list-3.general-list-hypno
					li Узнаете как легко останавливать внутренний диалог
					li Научитесь выявлять в трансовые состояния у людей
					li Погрузитесь в состояние глубокой релаксации
			.part.part-hypno.part-2
				img.part-img.part-img-2(src="../img/images/part-8.png", alt="Часть 2: “Наведение транса”")
				h4.part-title Часть 2: “Наведение транса”
				ul.general-list-3.general-list-hypno
					li Освоите базовые навыки погружения в транс
					li Узнаете, как незаметно гипнотизировать человека
					li Научитесь различным гипнотическим техникам
			.part.part-hypno.part-3
				img.part-img.part-img-3(src="../img/images/part-9.png", alt="Часть 3: “Речевой гипноз”")
				h4.part-title Часть 3: “Речевой гипноз”
				ul.general-list-3.general-list-hypno
					li Узнаете как внушать гипнотические установки и команды
					li Сможете рассказывать истории, меняющие сознание
					li Научитесь наделять свои слова особой силой
			.part.part-hypno.part-4
				img.part-img.part-img-4(src="../img/images/part-10.png", alt="Часть 4: “Сверх-способности”")
				h4.part-title Часть 4: “Сверх-способности”
				ul.general-list-3.general-list-hypno
					li Научитесь входить в состояние сверх-человека
					li Узнаете как управлять процессами в своём организме
					li Сможете раскрыть в себе необычные способности
			.part.part-hypno.part-5
				img.part-img.part-img-5(src="../img/images/part-11.png", alt="Часть 5: “Машина времени”")
				h4.part-title Часть 5: “Машина времени”
				ul.general-list-3.general-list-hypno
					li Отправитесь в прошлые жизни, чтобы узнать всё о себе
					li Перенесётесь в будущее, чтобы воплотить свои мечты
					li Научитесь программированию на успех и везение
			.part.part-hypno.part-6
				img.part-img.part-img-6(src="../img/images/part-12.png", alt="Часть 6: “Целительный гипноз”")
				h4.part-title Часть 6: “Целительный гипноз”
				ul.general-list-3.general-list-hypno
					li Узнаете, как обрести целостность и равновесие
					li Примите участие в гармонизирующем сеансе
					li Получите установки на исцеление и долголетие
			.clearfix
	.container
		+b('button-plan','#prices','Записаться')