section#master-group
	+gt2('','Мастер-группа')
	.container
		ul.general-list.general-list-2.general-list-mg
			li Все материалы модулей "НЛП" и "Гипноз"
			li Закрытый чат
			li Разбор ДЗ голосом
			li Вебинар с ответами на вопросы каждую неделю