section#records
	.container
		.white-container
			+gt('general-title-recs','Записи мастер-класса')
			.row
				.col-md-6.col-sm-6
					h4.record-title Запись занятия от 13.01.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/"  allowFullScreen mozallowfullscreen webkitAllowFullScreen)
					p.rec-text Занятие состоится 13.01.20, в 19:00
					p.rec-text Запись занятия появится здесь 14.01.20, после 13:00
				.col-md-6.col-sm-6
					h4.record-title Запись занятия от 14.01.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/"  allowFullScreen mozallowfullscreen webkitAllowFullScreen)
					p.rec-text Занятие состоится 14.01.20, в 19:00
					p.rec-text Запись занятия появится здесь 15.01.20, после 13:00
			.row
				.col-md-6.col-sm-6
					h4.record-title Запись занятия от 15.01.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/"  allowFullScreen mozallowfullscreen webkitAllowFullScreen)
					p.rec-text Занятие состоится 15.01.20, в 19:00
					p.rec-text Запись занятия появится здесь 16.01.20, после 13:00
				.col-md-6.col-sm-6
					h4.record-title Запись занятия от 16.01.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/"  allowFullScreen mozallowfullscreen webkitAllowFullScreen)
					p.rec-text Занятие состоится 16.01.20, в 19:00
					p.rec-text Запись занятия появится здесь 17.01.20, после 13:00
			p.recs-text Записи занятий будет в открытом доступе до 20.01.20
			+gt('hide','Записей мастер-класса нет в свободном доступе')
			p.rec-text.text-sale.hide Но Вы можете купить запись интенсива за 250р. и радоваться жизни вместе с теми, кто её уже смотрел
			+b('hide','','Купить записи','_blank')