.modal.fade(tabindex="-1" role="dialog")#modal-1
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.modal-title Модуль "НЛП"
					ul.general-list-3.modal-list
						li Часть 1: “Экстрасенсорика”
						li Часть 2: “Магия обольщения”
						li Часть 3: “Мастерство влияния”
						li Часть 4: “Гениальность и совершенство”
						li Часть 5: “Исполнение желаний”
						li Часть 6: “Чудо исцеления”
.modal.fade(tabindex="-1" role="dialog")#modal-2
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.modal-title Модуль "НЛП"
					ul.general-list-3.modal-list
						li Часть 1: “Экстрасенсорика”
						li Часть 2: “Магия обольщения”
						li Часть 3: “Мастерство влияния”
						li Часть 4: “Гениальность и совершенство”
						li Часть 5: “Исполнение желаний”
						li Часть 6: “Чудо исцеления”
					h4.modal-title Модуль "Гипноз"
					ul.general-list-3.modal-list
						li Часть 1: “Основы гипноза”
						li Часть 2: “Наведение транса”
						li Часть 3: “Речевой гипноз”
						li Часть 4: “Сверх-способности”
						li Часть 5: “Машина времени”
						li Часть 6: “Целительный гипноз”