include ../header
section#main
	.container
		p.pre.pre-ht= head_description
		h1.main-title
			span= head_title
		p.main-info.main-info-ht Старт онлайн-мастер-класса: 
			span с 13 января, в 19:00 (МСК)
		.video-wrapper.video-wrapper-main
			iframe(src="https://youtube.com/embed/"+video+"?rel=0&autoplay=1&mute=1" allowfullscreen)