@media screen and (min-width 2256px)
	.container
		width 1400px
	.main-title
	.button-thanks
		margin 100px auto 40px
@media screen and (max-width 1199px)
	#logo
		float: none
		margin 0 auto 3px
		display block
	.contacts
		float: none
		text-align: center
		line-height: 17px
	.contact
		display: inline-block
		margin 5px 5px 0
	.inputrow
		float: none
		margin:0 auto 10px
	.button-form
		float: none
	.button-thanks
		margin-top: 30px
@media screen and (max-width 767px)
	.button-form
	.button-bots
		height auto
		padding 10px
		line-height: 1.2
@media screen and (max-width 485px)
	#logo
		width 68px
		height 30px
	.contact
		font-size: 12px
		line-height: 15px
		background-size: 15px
		padding-left: 18px
	.contact.contact-email
		background-size: 20px
		padding-left: 24px
	#main
		padding 20px 0 30px
	.main-title
		font-size: 22px
		margin-bottom: 10px
		line-height: 1.3
		span
			font-size: 24px
	.main-subtitle
		font-size: 20px
		margin-top: 20px
	.main-container
		padding 20px
	.main-container-title
		padding 20px
		margin-bottom: 30px
		font-size: 22px
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
	.thanks-text
		font-size: 24px
		margin-bottom: 25px
	#main br
		display: none
	.bots-link
		width 50%
	.checking .check-label
		line-height: 18px
	.button-thanks
		margin 30px auto
@media screen and (max-width 385px)
	#main
		padding 0 0 30px
	header
	footer
		padding 10px 0
	.main-title
		font-size: 20px
	.main-container
		padding 15px
	.main-container-title
		padding 15px 0
		font-size: 18px
	.switch-date
		font-size: 20px
	.bots-link
		font-size: 12px