.button
.general-title
.main-title
.main-info span
.for-title
.part-title
.packet-head-title
.cost span
.prepayment-title
.timer-title
.modal-title
	font-weight: 900
.main-title small
	font-weight: normal
	font-family: initial
.main-info
.cost
.record-title
footer h5
	font-weight: bold