.button
.general-title
.main-title
.main-subtitle
.main-date
.main-author
.form-title
.for-title
.day-title
.author-title
.certs-title
.last-subtitle
.form-last-title
.modal-title
	font-weight: 900
.pre
.form-text span
.carousel-control
.politics_modal-content .modal-title
	font-weight: bold
.author-bg 
	font-style: italic