RO = 'RussoOne', sans-serif
G = 'Georgia', serif
GI = 'GeorgiaItalic', serif
OSB = 'OpenSansBold', sans-serif

@font-face {
	font-family: 'georgia';
	src: url('../fonts/georgia.eot');
	src: url('../fonts/georgia.eot') format('embedded-opentype'),
		 url('../fonts/georgia.woff2') format('woff2'),
		 url('../fonts/georgia.woff') format('woff'),
		 url('../fonts/georgia.ttf') format('truetype'),
		 url('../fonts/georgia.svg#georgia') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'georgiaItalic';
	src: url('../fonts/georgiaItalic.eot');
	src: url('../fonts/georgiaItalic.eot') format('embedded-opentype'),
		 url('../fonts/georgiaItalic.woff2') format('woff2'),
		 url('../fonts/georgiaItalic.woff') format('woff'),
		 url('../fonts/georgiaItalic.ttf') format('truetype'),
		 url('../fonts/georgiaItalic.svg#georgiaItalic') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'RussoOne';
	src: url('../fonts/RussoOne.eot');
	src: url('../fonts/RussoOne.eot') format('embedded-opentype'),
		 url('../fonts/RussoOne.woff2') format('woff2'),
		 url('../fonts/RussoOne.woff') format('woff'),
		 url('../fonts/RussoOne.ttf') format('truetype'),
		 url('../fonts/RussoOne.svg#RussoOne') format('svg');
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSansBold.eot');
	src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
		url('../fonts/OpenSansBold.woff2') format('woff2'),
		url('../fonts/OpenSansBold.woff') format('woff'),
		url('../fonts/OpenSansBold.ttf') format('truetype'),
		url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
	font-display: fallback;
	font-weight: bold
	font-style: normal;
}

@import '../css/_css/bootstrap.min.css'
@import '../css/_css/jquery.fancybox.min.css'

*
	margin 0
	padding 0
	outline none
body
	font-size: 18px
	font-family: G
	background-color: #F5F5F5
	color #2a251d
a
	color: #fefefe
	&:focus
		outline: 0
	&:hover
		text-decoration none
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
button
	border none
section
header
footer
	width 100%
	display block
.video-wrapper
	margin 0 auto
	position relative
	width 100%
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #000
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
		box-shadow: 0 0 10px 3px rgba(#000,.35)
.button
	display block
	margin 0 auto
	text-align: center
	border 2px outset rgb(240, 101, 27);
	background-color: rgb(240, 101, 27);
	width 100%
	max-width: 365px;
	height: 46px;
	line-height: 42px;
	font-family: RO
	color: rgb(255, 255, 255);
	text-decoration: none
	transition: all .5 ease
	&:focus
		text-decoration: none
		color #fff
	&:hover
		color #fff
		border-style: inset
		background-color: rgb(240, 101, 27) + 20%;
.general-title
	text-align: center
	font-size: 24px;
	font-family: RO
	color: rgb(10, 25, 56);
	padding 0 10px
	line-height: 1.4
	width 110%
	left -5%
	margin 0 0 35px
	position relative
	border: 1px dashed #0a1938
	// &:before
	// 	content ''
	// 	height 0
	// 	padding-top .6%
	// 	display block
	// &:after
	// 	content: ''
	// 	display block
	// 	position: absolute
	// 	left -5%
	// 	right 0
	// 	top 3px
	// 	width 110%
	// 	height 100%
	// 	border: 1px dashed #0a1938
	&-2
			border-left: 0
			border-right: 0
			width 100%
			left 0
		// &:after
.white-container
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 9.4px 0.6px rgba(24, 41, 70, 0.3);
	width 100%
	padding 30px
	&-last
		background-color: #F9FAFA
.general-list
	li
		list-style: none
		position relative
		padding 6px 0 5px 50px
		min-height 41px
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
		&:before
			content: ''
			display block
			position: absolute
			top 0
			left 0
			background-color: #001236
			border-radius: 50px
			padding 4px
			border: 1px dashed #001236
			width 40px
			height 40px
			background-clip: content-box
		&:after
			content: ''
			display block
			position: absolute
			width 20px
			height 9px
			transform: rotate(-50deg)
			border-left: 2px solid #DCE0E2
			border-bottom: 2px solid #DCE0E2
			top: 14px;
			left: 10px;
		&:nth-child(2n+1)
			&:before
				background-color: #EC4A00
	&-2
		li:before
			background-color: #EC4A00
		li:nth-child(2n + 1):before
			background-color: #001236
	&-3
		li
			position relative
			list-style: none
			line-height: 24px
			padding-left: 34px
			&:before
				content: ''
				display block
				position: absolute
				left 0
				top 9px
				border-radius: 50px
				width 9px
				height 9px
				background-color: #282016
.input
	display block
	background-color: rgb(255, 255, 255);
	width 100%
	max-width: 250px;
	padding 0 10px
	color #2a2d3e
	height: 36px;
	border 0
	line-height: 18px
	border 1px solid #0a1938
@-webkit-keyframes autofill
	to
		color: #2a2d3e
		background-color: #fff
input:-webkit-autofill
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
.alert-message {
	clear both
	display: none;
	font-size: 16px;
	padding-top: 10px;
	line-height: 16px
	color: #f00
	text-align: center
}
.checking {
	display: table;
	width 100%
	max-width 477px
	margin: 5px auto 0
	text-align: left
}

.checking .check-label {
	line-height: 27px;
	cursor: pointer;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 25px;
	text-align: left;
	font-size: 14px
	color #0a1938
}

.checking .check-label a
	text-decoration: underline
	display: inline
	color #0a1938
	&:focus
		text-decoration: underline
		color #0a1938
	&:hover
		text-decoration: none
		color #0a1938

.checking .check-label:before {
	content: '';
	background-color: red
	position: absolute;
	left: 0;
	top: 3px;
	width: 20px;
	height: 20px;
	border 1px dashed #0a1938
	border-radius: 0
}

.checking .check-label:after {
	content: '';
	position: absolute;
	left: 8px;
	top: -10px;
	width: 6px;
	height: 11px;
	background-color: transparent;
	opacity: 0;
	border-bottom: 2px solid #0a1938
	border-right: 2px solid #0a1938
	-webkit-transform: rotate(41deg);
	-ms-transform: rotate(41deg);
	transform: rotate(41deg);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.check {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 0;
	height 0;
	border: 0;
	left -99999px;
}

.check:checked + .check-label:before {
	background-color: transparent

}

.check:checked + .check-label:after {
	opacity: 1;
	top: 7px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


@import 'main/0.header'
@import 'main/1.main'
@import 'main/2.for'
@import 'main/3.plan'
@import 'main/4.lets'
@import 'main/5.author'
@import 'main/6.revs'
@import 'main/7.last'
@import 'main/8.footer'
@import 'main/9.modal'
@import 'main/10.politics'
@import 'main/11.medias'